body{
    margin: 0 auto;
    max-width:900px;
    width:90%;
    color:white;
    background-color: rgb(111, 221, 184);
}

.navtab{
height:40px;
background-color: rgb(65, 161, 118);
border-radius:5px;

}
.navtab ul{
    list-style: none;
    color:white;
 
}

.navtab ul li{
    float:right;
    padding:10px 20px 10px 20px;
    font-size: 20px;
}
.navtab ul li a{
    text-decoration: none;
    color:rgb(20, 104, 52);
}
.navtab ul li a:hover{
    font-size: 20px;
    color:rgb(49, 93, 145);
    border:1px;
    text-shadow: 1px 1px 5px mediumblue;
}

.welcome{
    color:rgba(47, 105, 24, 0.562);
    padding:20px 0px 5px 50px;
    text-shadow:2px 1px 3px mediumseagreen;
}
.intro{
    font-family: monospcae;
    color:rgb(126, 118, 118);
}
.myself{
    color:rgb(136, 79, 79);

}
#about{
    list-style-type:square;
    color:rgb(99, 74, 122)
}
.box{
    border:1px solid rgb(236, 167, 155);
    background-color:rgba(55, 170, 126, 0.544);
    color:rgb(136, 92, 140);
    padding:0px 10px 10px 10px;
}
.box{
    display: none;
}

a:hover+.a,a:hover+.b,a:hover+.c,a:hover+.d{
display:block;
position:relative;
top:50px;
}

